.App {
	font-family: sans-serif;
	text-align: center;
}

/*
* Semantic Ui Overides
*/
.ui.card > .image > img,
.ui.cards > .card > .image {
	border-radius: 0;
}
.ui.card > .image > img,
.ui.cards > .card > .image > img {
	height: 200px;
	object-fit: cover;
}
.ui.card {
	height: 400px;
	border-radius: 0;
}

.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
	height: 200px !important;
}

.ui.label {
	border-radius: 0 !important;
}

/*
* App styles
*/
#app-wrapper {
	padding: 0 15px;
}
#nav-header {
	background: #1b1c1d;
	padding: 15px;
}
#app-menu {
	margin: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
#app-footer {
	background: #666;
	padding: 20px;
	margin-top: 30px;
}

#posts-row > .post-column {
	margin-bottom: 25px;
}

#user-details {
	background: #f9f9f9;
	box-shadow: 0px 5px 10px 0px #0000001a;
}
#user-details > .user-details-header > .header {
	padding: 20px 0px;
	text-transform: uppercase;
}
#posts-list-wrapper {
	margin-top: 30px;
}

.post-author {
	cursor: pointer;
}
